*{
    box-sizing: border-box;
}
body{
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.container{
    display: flex;
    flex-direction: row;
    width: 95vw;
}
.panel{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    border-radius: 50px;
    flex: 0.5;
    margin: 10px;
    color: #fff;
    position: relative;
    cursor: pointer;
    transition: 0.7s ease-in;
}
.panel h3{
    position: absolute;
    font-size: 24px;
    bottom: 20px;
    margin: 0;
    left: 20px;
    opacity: 0;
}
.panel.active{
 flex: 6;
}
.panel.active h3{
    opacity: 1;
    transition: 0.3s ease-in 0.4s;
}
@media (max-width:480px) {
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(5),
    .panel:nth-of-type(6){
        display: none;
    }
}